:root {
    /* Fondo y Texto */
    --fondo: #0f1d2a;
    --blanco: #ffffff;

    /* Acentos de la paleta */
    --verde-claro: #8bc34a;
    --verde-medio: #4caf50;
    --azul-medio: #1976d2;
    --azul-claro: #81d4fa;

    /*transparencias */
    --azul-oscuro-transparente: rgba(1, 150, 180, 0.3);
    --azul-medio-transparente: rgba(1, 150, 180, 0.5);
    --azul-medio-transparente: rgba(1, 150, 180, 0.7);
    --azul-medio-transparente: rgba(1, 150, 180, 0.9);
    --azul-medio-transparente: rgba(1, 150, 180, 1);
    --verde-claro-transparente: rgba(16, 185, 129, 0.2);
    --verde-claro-transparente: rgba(16, 185, 129, 0.4);

    --rojo-claro: #ff6b6b;
    --rojo-medio: #ff4b4b;
    --rojo-oscuro: #ff3b3b;
}